<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<turbo-frame id="raffle">
    <div class="row align-items-center mt-3">
        <!-- -->
        <div class="col-lg-3 mb-5 mb-lg-0">
            <turbo-frame id="participants">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-bordered table-striped mb-0">
                        <thead>
                        <tr>
                            <th scope="col">Prize</th>
                            <th scope="col">Quantity</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="p, iStat: ${prizes}">
                            <td th:text="${p.name}"/>
                            <td th:text="${p.quantity}"/>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </turbo-frame>
        </div>

        <!-- -->
        <div class="col-lg-5 mb-5 mb-lg-0">
            <canvas id="canvas" height="400" width="400"></canvas>
            <script src="/js/ruleta.js"></script>
            <form name="raffleForm" data-turbo-frame="raffle" action="raffle">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <input type="hidden" th:value="${sheetId}" name="sheetId"/>
                        <input type="hidden" th:value="${tabId}" name="tabId"/>
                        <input type="hidden" name="winner"/>
                    </div>
                </div>
            </form>
        </div>
        <!-- -->
        <div class="col-lg-4 mb-5 mb-lg-0">
            <button class="btn btn-primary" th:if="${!completed}"
                    onclick="window.miRuleta.startAnimation()">Raffle</button>
        </div>

    </div>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        setTimeout(function(){
            initParticipants( /*[[${participants}]]*/, function(winner) {
                document.forms["raffleForm"].winner.value = winner
                document.forms["raffleForm"].requestSubmit();
            })
        },1000)
    </script>
</turbo-frame>
</body>
</html>