<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<turbo-frame id="raffle">
    <div class="row">
        <div class="col-12 mb-5 mt-4">
            <div class="mx-auto">
                <h2 class="portfolio-modal-title text-secondary mb-0">
                    Congratulations <span th:text="${winner.name}"></span>, you win <span
                        th:text="${prize.name}"></span>
                </h2>
                <img src="assets/img/thanks-for-your-attention-animation-minions-gif-7.gif"/>
            </div>
        </div>
    </div>
    <div class="row mb-5 mt-1">
        <div class="col-auto">
            <form data-turbo-frame="raffle" action="commit">
                <div class="col-auto">
                    <input type="hidden" th:value="${sheetId}" name="sheetId"/>
                    <input type="hidden" th:value="${tabId}" name="tabId"/>
                    <input type="hidden" th:value="${winner.name}" name="winner"/>
                    <input type="hidden" th:value="${prize.name}" name="prize"/>
                    <input type="hidden" value="yes" name="answer"/>
                    <button type="submit" class="btn btn-primary">Yeesssss</button>
                </div>
            </form>
        </div>
        <div class="col-auto">
            <form data-turbo-frame="raffle" action="commit">
                <div class="col-auto">
                    <input type="hidden" th:value="${sheetId}" name="sheetId"/>
                    <input type="hidden" th:value="${tabId}" name="tabId"/>
                    <input type="hidden" th:value="${winner.name}" name="winner"/>
                    <input type="hidden" th:value="${prize.name}" name="prize"/>
                    <input type="hidden" value="no" name="answer"/>
                    <button type="submit" class="btn btn-primary">Declined, sorry</button>
                </div>
            </form>
        </div>
        <div class="col-auto">
            <form data-turbo-frame="raffle" action="commit">
                <div class="col-auto">
                    <input type="hidden" th:value="${sheetId}" name="sheetId"/>
                    <input type="hidden" th:value="${tabId}" name="tabId"/>
                    <input type="hidden" th:value="${winner.name}" name="winner"/>
                    <input type="hidden" th:value="${prize.name}" name="prize"/>
                    <input type="hidden" value="absent" name="answer"/>
                    <button type="submit" class="btn btn-primary">No present</button>
                </div>
            </form>
        </div>
    </div>
</turbo-frame>
</body>
</html>